{% extends 'base.html.twig' %}

{% block title %} Page d'accueil {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

<header>
    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
<nav> 
    <ul class="nav_links">
    <a href="{{ url('historique.show')}}"><li> Historique </li></a>
</nav> 
    <a class="cta" href="#"> <button class="button-85" role="button"> Mon compte </button> </a> 
</header>

<section id="quizz">
    <h1 style="text-align:center" class="section_title"> Testez votre culture </h1>
<div class="images">
    <ul>
        {% for categorie in categories %}
            <li class="cat">
                <div>
                    <img src="{{ asset('images/logo.png') }}" alt="Harry potter" class="img_cat"> 
                </div>
                <span>{{categorie.name}}</span>
                <a href="{{ url('quizz.show', {id : categorie.id})}}"> FAIRE LE TEST </a>
            </li>
        {% endfor %}
    </ul>
</div>
</section>

{% endblock %}