{% extends 'base.html.twig' %}

{% block title %} Modifier un questionnaire {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
<style>
    #quizz li a {
    background-color: #fafaf9;
    color: #fff;
    padding: 5px 20px;
    font-size: 15px;
}
</style>

    <header>
        <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>
        <a class="cta" href="{{ url('CrudCategorieIndex') }}"> <button class="button-85" role="button">Dashboard All Categorie</button> </a>
        <a class="cta" href="{{ path('app_logout') }}"> <button class="button-85" role="button">Deconnexion</button> </a>
    </header>

    <section id="quizz" >
        <h1 style="text-align:center" class="section_title"> Modifier un questionnaire </h1>
        <div class="images">
            {{ form(form) }}
        </div>
        </br>
        </br>
        <ul style="margin-left: 5rem">
            {% for question in questions%}
                <li>
                    <span> {{question.question}}</span>
                    <a href="{{ url('editQuestion', {id : question.id} )}}"><button>Update Question</button></a>
                    <a href="{{ url('deleteQuestion', {id : question.id} )}}"><button>Delete Question</button></a>
                </li>
                </br>
            {% endfor %}
        </ul>
    </section>

{% endblock %}