{% extends 'base.html.twig' %}

{% block title %} Admin dashboard {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <header>
        <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>
        <a class="cta" href="{{ url('app_administrateur') }}"> <button class="button-85" role="button">Dashboard Admin</button> </a>
        <a class="cta" href="{{ path('app_logout') }}"> <button class="button-85" role="button">Deconnexion</button> </a>
    </header>

    <section id="quizz">
        <h1 style="text-align:center" class="section_title"> Dashboard all categorie </h1>
    </section>
    <a href="{{ url('addCategorie') }}"><button>Add Categorie</button></a>
    <ul>
        {% for categorie in categories %}
            <li>
                <span>{{categorie.name}}</span>
                <a href="{{ url('editCategorie', {id : categorie.id} )}}"><button>Update Categorie</button></a>
                <a href="{{ url('deleteCategorie', {id : categorie.id} )}}"><button>Delete Categorie</button></a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}