{% extends 'base.html.twig' %}

{% block title %} Quizz dashboard {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
<style>
    #title{
    font-size: 7vh;
    padding-top: 20px;
    text-align: center;
    color: #e76f51;
}
    .histo{ display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-bottom : 20px;
    margin-top: 20px }
    
    li { padding: 7px } 
    body > div.histo > a > button {
        margin-bottom: 30px;}
    #main { background-color: #52BE80; 
}
</style>

    <header>
        <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>
        <a class="cta" href="{{ url('app_administrateur') }}"> <button class="button-85" role="button">Dashboard Admin</button> </a>
        <a class="cta" href="{{ path('app_logout') }}"> <button class="button-85" role="button">Deconnexion</button> </a>
    </header>

    <section id="quizz">
        <h1 style="text-align:center" class="section_title" id="title"> Gestionnaire de quizz </h1>
    </section>

    <div class="histo">

    <a href="{{ url('addCategorie') }}"><button id="main"> Créer un quizz </button></a>
    
    <ul>
        {% for categorie in categories %}
            <li>
                <span>{{categorie.name}}</span>
                <a href="{{ url('editCategorie', {id : categorie.id} )}}"><button> Modifier le quizz</button></a>
                <a href="{{ url('deleteCategorie', {id : categorie.id} )}}"><button> Supprimer </button></a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}