{% extends 'base.html.twig' %}

{% block title %} Profil Setting {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

<header>
    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
<nav> 
    <ul class="nav_links">
    <a href="{{ url('historique.show')}}"><li> Historique </li></a>
</nav> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-85" role="button">Deconnexion</button> </a> 
</header>

<section id="quizz">
    <h1 style="text-align:center" class="section_title"> Settings </h1>
<div class="images">
    <h1>Hello {{ app.user.email }}</h1>
    </br>
    </br>
    {% include 'partials/flash.html.twig' %}
    <h2> Update Password </h2>
    {{ form(formPassword) }}
    </br>
    </br>
    <h2> Update email </h2>
    {{ form(formEmail) }}
    </br>
    </br>
    <h2> BECOME ADMIN </h2>
    {{ form(formSetAdmin) }}
</div>
</section>

{% endblock %}