{% extends 'base.html.twig' %}

{% block title %} Admin dashboard Edit {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
<style>
#title{
    font-size: 7vh;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #e76f51;
}
.gestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#admin_edit_user_save{ 
    margin: 17px;
    margin-left: 40px}

#admin_edit_user_email{
    margin: 10px
}
#set_admin > div:nth-child(1) > label { font-weight : bold;  }
#set_admin > div:nth-child(1) { margin-bottom: 10px }



</style>

<header>
    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
    <a href="{{ url('historique.show')}}"><button class="button-62" role="button">Historique</button> </a> 
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
{% if is_granted('ROLE_ADMIN') %}
        <a class="cta" href="{{ path('app_administrateur') }}"> <button class="button-62" role="button">Admin</button> </a> 
    {% endif %}
    <a class="cta" href="{{ path('app_quizz') }}"> <button class="button-85" role="button"> Créer un quizz </button> </a>
    
    <a class="cta" href="{{ path('profil') }}"> <button class="button-62" role="button">Mon compte</button> </a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-62" role="button">Deconnexion</button> </a> 
{% endif %}
</header>

<section id="quizz">
    <h1 style="text-align:center" class="section_title" id="title"> Paramètres utilisateur  </h1>
    <div class="gestion">
        {{ form(form) }}
        </br>
        </br>
        {{ form(formSetAdmin) }}
    </div>
</section>

{% endblock %}