{% extends 'base.html.twig' %}

{% block title %} Admin dashboard Edit {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

<header>
    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
    <a class="cta" href="{{ url('CrudUserIndex') }}"> <button class="button-85" role="button">Dashboard All User</button> </a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-85" role="button">Deconnexion</button> </a> 
</header>

<section id="quizz">
    <h1 style="text-align:center" class="section_title"> Edit user  </h1>
    <div class="images">
        {{ form(form) }}
        </br>
        </br>
        {{ form(formSetAdmin) }}
    </div>
</section>

{% endblock %}