{% extends 'base.html.twig' %}

{% block title %} Admin dashboard {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
<style>
    button{ margin : 17px;} 
    #main { background-color: #52BE80 }
    .spoon { font-weight: bold; }
    #title{
    font-size: 7vh;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #e76f51;
    }
    .little{display: flex; justify-content: center; }

    </style>
<header>
<a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
<nav> 
<ul class="nav_links">
<a href="{{ url('historique.show')}}"><button class="button-62" role="button">Historique</button> </a> 
</nav> 
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
{% if is_granted('ROLE_ADMIN') %}
        <a class="cta" href="{{ path('app_administrateur') }}"> <button class="button-62" role="button">Admin</button> </a> 
    {% endif %}
    <a class="cta" href="{{ path('app_quizz') }}"> <button class="button-85" role="button"> Créer un quizz </button> </a>
    
    <a class="cta" href="{{ path('profil') }}"> <button class="button-62" role="button">Mon compte</button> </a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-62" role="button">Deconnexion</button> </a> 
{% else %}
    <a class="cta" href="{{ path('app_register') }}"> <button class="button-62" role="button">S'inscrire</button> </a> 
    <a class="cta" href="{{ path('app_login') }}"> <button class="button-62" role="button">Se connecter</button> </a> 
{% endif %}

</header>
<section id="quizz">
    <h1 style="text-align:center" class="section_title" id="title"> Gestion des utilisateurs </h1>
</section>
<div class="little">
<a href="{{ url('addUser') }}"><button id="main"> Ajouter un nouveau membre </button></a>
</div>
<ul>
    {% for id, user  in users%}
        <li>
        <span class="spoon"> &ensp;  &ensp;  Adresse électronique : &ensp; &ensp; </span>
            <span>    {{ user }}</span>
            <a href="{{ url('editUser', {id : id} )}}"><button> Modifier les paramètres </button></a>
            <a href="{{ url('deleteUser', {id : id} )}}"><button> Supprimer l'utilisateur </button></a>
        </li>
    {% endfor %}
</ul>

{% endblock %}