{% extends 'base.html.twig' %}

{% block title %} Admin dashboard {% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

<header>
    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
    <a class="cta" href="{{ url('app_administrateur') }}"> <button class="button-85" role="button">Dashboard Admin</button> </a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-85" role="button">Deconnexion</button> </a> 
</header>

<section id="quizz">
    <h1 style="text-align:center" class="section_title"> Dashboard all user </h1>
</section>
<a href="{{ url('addUser') }}"><button>Add User</button></a>
<ul>
    {% for id, user  in users%}
        <li>
            <span>{{ user }}</span>
            <a href="{{ url('editUser', {id : id} )}}"><button>Update User</button></a>
            <a href="{{ url('deleteUser', {id : id} )}}"><button>Delete User</button></a>
        </li>
    {% endfor %}
</ul>

{% endblock %}