{% extends 'base.html.twig' %}

{% block title %} Quizz {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    li { padding-bottom : 20px; padding-top : 20px; font-weight : bold; font-size : 20px }
    button { margin-top : 30px }
</style>


<header>
<a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
<nav> 
<ul class="nav_links">
<a href="{{ url('historique.show')}}"><button class="button-62" role="button">Historique</button> </a> 
</nav> 
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <a class="cta" href="{{ path('app_quizz') }}"> <button class="button-85" role="button"> Créer un quizz </button> </a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="cta" href="{{ path('app_administrateur') }}"> <button class="button-62" role="button">Admin</button> </a> 
    {% endif %}
    <a class="cta" href="{{ path('profil') }}"> <button class="button-62" role="button">Mon compte</button> </a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-62" role="button">Deconnexion</button> </a> 
{% else %}
    <a class="cta" href="{{ path('app_register') }}"> <button class="button-62" role="button">S'inscrire</button> </a> 
    <a class="cta" href="{{ path('app_login') }}"> <button class="button-62" role="button">Se connecter</button> </a> 
{% endif %}

</header>


<div class="example-wrapper">
    <h1>{{ name }}</h1>
    <form method="post" action="{{  path('traitementReponse', {'id': id}) }}">
        <ul>
            {% for reponse in arrayReponse %}
                <li>{{ reponse[0].question }}</li>
                {% for item in reponse[1] %}
                    <input type="radio" id="{{item.reponse}}" name="{{reponse[0].id}}" value="{{item.reponse}}"  required/>
                    <label for="{{item.reponse}}">{{item.reponse}}</label>
                    </br>
                {% endfor %}
            {% endfor %}
        </ul>

        <button  type="submit"> Résultat </button>
    </form>
</div>
{% endblock %}
