{% extends 'base.html.twig' %}

{% block title %} Graphiques {% endblock %}

{% block body %}
<header>
<a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
<nav> 
<ul class="nav_links">
<a href="{{ url('historique.show')}}"><button class="button-62" role="button">Historique</button> </a> 
</nav> 
{% if is_granted("IS_AUTHENTICATED_FULLY") %}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="cta" href="{{ path('app_administrateur') }}"> <button class="button-62" role="button">Admin</button> </a> 
    {% endif %}
<a class="cta" href="{{ path('app_quizz') }}"> <button class="button-85" role="button"> Créer un quizz </button> </a>
    <a class="cta" href="{{ path('profil') }}"> <button class="button-62" role="button">Mon compte</button> </a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-62" role="button">Deconnexion</button> </a> 
{% else %}
    <a class="cta" href="{{ path('app_register') }}"> <button class="button-62" role="button">S'inscrire</button> </a> 
    <a class="cta" href="{{ path('app_login') }}"> <button class="button-62" role="button">Se connecter</button> </a> 
{% endif %}

</header>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .chart{
        width : 600px;
        width : 300px;
        display: block;
    }
    .bars{
        color : black;
        font-size: 12px;
        font-weight:600;
        margin : 0;
        padding : 0;
        display: inline-block;
        width: 800px;
        height:300px;
        box-shadow : 0 0 10px 0 #555;
        border-radius :5px;
    }
    .bars li {
        display: table-cell;
        width:100px;
        height:300px;
        position : relative;
    }
    .bars span {
        width : 100%;
        position: absolute;
        bottom: -30px;
        text-align : center;
    }
    .bars .bar {
       display: block;
       background: #17C0EB;
       width:50px;
       position:absolute;
       bottom:0;
       margin-left: 25px;
       text-align : center;
       box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    }
    .bleu{
        color: #17C0EB;
        font-weight : bold;
        font-style: italic;
    }
    .bars .barUser{
        display: block;
       background: #f39c12;
       width:50px;
       position:absolute;
       bottom:0;
       margin-left: 25px;
       text-align : center;
       box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    }
    .orange{
        color: #f39c12;
        font-weight : bold;
        font-style: italic;
    }
    .bars .bar:before{
        color:black;
        content: attr(data-pourcentage);
        position:relative;
        bottom: 20px;
    }
    .bars .barUser:before{
        color:black;
        content: attr(data-pourcentage);
        position:relative;
        bottom: 20px;
    }
</style>
<div class="example-wrapper">
    <p class="bleu">Graphique sur le nombres de quiz passer par les utilisateurs</p>
    <p class="orange">Graphique sur le nombres d'utilisateurs connecter</p>
    </br>
    <div class="chart">
        <ul class="bars">
            <li><div class="bar" style="height: {{countYear}}%;" data-pourcentage="{{countYear}}"></div><span>année</span></li>
            <li><div class="barUser" style="height: {{countUserYear}}%;" data-pourcentage="{{countUserYear}}"></div><span>année</span></li>

            <li><div class="bar" style="height: {{countMonth}}%;" data-pourcentage="{{countMonth}}"></div><span>mois</span></li>
            <li><div class="barUser" style="height: {{countUserMonth}}%;" data-pourcentage="{{countUserMonth}}"></div><span>mois</span></li>

            <li><div class="bar" style="height: {{countWeek}}%;" data-pourcentage="{{countWeek}}"></div><span>semaine</span></li>
            <li><div class="barUser" style="height: {{countUserWeek}}%;" data-pourcentage="{{countUserWeek}}"></div><span>semaine</span></li>

            <li><div class="bar" style="height: {{countHours}}%;" data-pourcentage="{{countHours}}"></div><span>24 heures</span></li>
            <li><div class="barUser" style="height: {{countUserHours}}%;" data-pourcentage="{{countUserHours}}"></div><span>24 heures</span></li>
        </ul>
    </div>
</div>
{% endblock %}
