{% extends 'base.html.twig' %}

{% block title %} Panneau d'administration {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<style>
    #title{
    font-size: 7vh;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #e76f51;
}
    #quizz {
        display: flex;
        flex-direction: column;
}
</style>

    
<header>
<a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
<nav> 
<ul class="nav_links">
<a href="{{ url('historique.show')}}"><button class="button-62" role="button">Historique</button> </a> 
</nav> 
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <a class="cta" href="{{ path('app_quizz') }}"> <button class="button-85" role="button"> Créer un quizz </button> </a>
    <a class="cta" href="{{ path('profil') }}"> <button class="button-62" role="button">Mon compte</button> </a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-62" role="button">Deconnexion</button> </a> 
{% else %}
    <a class="cta" href="{{ path('app_register') }}"> <button class="button-62" role="button">S'inscrire</button> </a> 
    <a class="cta" href="{{ path('app_login') }}"> <button class="button-62" role="button">Se connecter</button> </a> 
{% endif %}

</header>


    <section id="quizz">
        <h1 style="text-align:center"  id="title" > Administration </h1>
        <div class="images">
            </br>
            </br>
            <a class="cta" href="{{ url('CrudUserIndex') }}"> <button class="button-32" role="button"> Gestion des utilisateurs </button> </a>
            </br>
            </br>
            <a class="cta" href="{{ url('CrudCategorieIndex') }}"> <button class="button-32" role="button"> Gestion des quizz</button> </a>
            </br>
            </br>
            <a class="cta" href="{{ url('app_send_email') }}"> <button class="button-85" role="button">Envoie email au utilisateur</button> </a>
        </br>
        </br>
        <a class="cta" href="{{ url('app_stats_user') }}"> <button class="button-85" role="button"> Statistiques </button> </a>
        </br>

        </div>
    </section>

{% endblock %}