{% extends 'base.html.twig' %}

{% block title %} Profil Setting {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <header>
        <a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>
        <a class="cta" href="{{ path('app_logout') }}"> <button class="button-85" role="button">Deconnexion</button> </a>
    </header>

    <section id="quizz">
        <h1 style="text-align:center" class="section_title"> Fonctionnalité </h1>
        <div class="images">
            <h1>Hello {{ app.user.email }}</h1>
            </br>
            </br>
            <a class="cta" href="{{ url('CrudUserIndex') }}"> <button class="button-85" role="button">CRUD user</button> </a>
            </br>
            </br>
            <a class="cta" href="{{ url('CrudCategorieIndex') }}"> <button class="button-85" role="button">CRUD categorie</button> </a>
            </br>
            </br>
            <a class="cta" href="{{ url('app_send_email') }}"> <button class="button-85" role="button">Envoie email au utilisateur</button> </a>
        </div>
    </section>

{% endblock %}