{% extends 'base.html.twig' %}

{% block title %} Statistiques {% endblock %}

{% block body %}
<style>
    
    .container{text-align: center;}
    .end{padding-bottom: 20px;}

    </style>
<header>
<a href="/"><img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo"/></a>  
<nav> 
<ul class="nav_links">
<a href="{{ url('historique.show')}}"><button class="button-62" role="button">Historique</button> </a> 
</nav> 
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="cta" href="{{ path('app_administrateur') }}"> <button class="button-62" role="button">Admin</button> </a> 
    {% endif %}
    <a class="cta" href="{{ path('profil') }}"> <button class="button-62" role="button">Mon compte</button> </a> 
    <a class="cta" href="{{ path('app_logout') }}"> <button class="button-62" role="button">Deconnexion</button> </a> 
{% else %}
    <a class="cta" href="{{ path('app_register') }}"> <button class="button-62" role="button">S'inscrire</button> </a> 
    <a class="cta" href="{{ path('app_login') }}"> <button class="button-62" role="button">Se connecter</button> </a> 
{% endif %}

</header>

<h1 style="text-align: center; padding-bottom : 20px; padding-top : 20px;"> Statistiques </h1>
<div class="container">

    <ul>
        {% for key, value in array%}
            <li>
                {% if(value[0] == null) %}
                    <span>Moyennes obtenues au quizz {{ (key) }} : Pas assez de données</span> 
                    </br>
                {% else %}
                    <span>Moyennes obtenues au quizz {{ (key) }} : {{value[0]}}</span> 
                    </br>
                {% endif%}
                <span> Nombre de personnes ayant participer au quizz {{ (key) }} : {{value[1]}}</span> 
                </br>
            </li>
            </br>
            </br>
        {% endfor %} 
    </ul>

</div>
{% endblock %}
